@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* BASIC STYLES AND PROPERTIES */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.header {
    background-color:#1f2937 ;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;  
}

.hero-secondary-text {
    font-size: 18px;
    color : #e5e7eb;
}

.header-image {
    width: 647px;
    height: 408px;
}

button, .cta-container {
    background-color: #3882f6;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.info-text {
    font-size: 36px;
    font-weight: 800;
    color : #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

/* THE MAIN ALIGNMENT OF THE PAGE */


/* HEADER SECTION STYLING */
.header {
    display: flex;
    padding: 0 10% 5% 10%;  
    flex-direction: column;
    gap: 8em;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

/* We need this so the nav links have some space in between */
.nav-bar a {
    padding: 10px;
}

.bottom-header {
    display: flex;
}

.bottom-left-header{
    flex: 1 1 50%;
}

.bottom-right-header {
    flex: 1 1 50%;
}

.bottom-right-header img {
    height: 100%;
    width: 100%;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 7px 30px;
    border-radius: 6px;
    border: none;
    margin: 1em 0;
}

/* INFO SECTION STYLING */
.info {
    padding: 3em 0;
    display: flex;
    gap: 1em ;
    flex-direction: column;
    align-items: center;
}

.info-images-container {
    display: flex;
    gap: 1em;
}

.info-image {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

/* QUOTE SECTION STYLING */
.wrapper {
    display: inline-block;
}

.quote {
    padding: 2em ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    text-align: center;
    flex: 1;
}

.quote-author {
    text-align: end;
    font-weight: bold;
    flex: 1;
}

/* CALL TO ACTION SECTION STYLING */
.cta p {
    color: white;
}

.cta {
    padding: 5em 10em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    flex-grow: 0;
    padding: 2em 6em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5em;
}

.cta-text-container {
    display: flex;
    flex-direction: column;
}

.cta-button {
    border: white 1px solid;
}

.cta-text-container .p:first-child{
    font-weight: bold;
}